.profile_header {
  background: -moz-linear-gradient(left, #c6e2ff, #0000ff 80%, #0e2f44);
  background: -webkit-linear-gradient(left, #c6e2ff, #0000ff 80%, #0e2f44);
  background: linear-gradient(to right, #c6e2ff, #0000ff 80%, #0e2f44);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 85.5em;
  height: 2em;
  border: 2px #fa8072;
  border-style: outset;
}
