<footer>
  <div class="new_item_link">
    <%= button_to "Add an item for review!", new_item_path, method: :get %>
  </div>
  <div class="homebutton">
    <%= button_to 'Home', items_path, method: :get %>
  </div>
</footer>
